* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: #293038;
}

.wrapper {
  padding: 50px;
  width: 800px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3f4b59), to(#333d46));
  background-image: linear-gradient(#3f4b59, #333d46);
  color: #fff;
  text-align: center;
  border: 1px solid #1c232d;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px #1c232d;
          box-shadow: 0 0 15px #1c232d;
}

.wrapper h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.wrapper p {
  font-size: 26px;
  margin-bottom: 50px;
  font-weight: 200;
}

.wrapper .rate-info {
  margin-top: 30px;
  margin-bottom: 0;
}

.app-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-body input {
  margin-bottom: 10px;
  width: 100%;
  font-size: 60px;
}

.app-body input,
.app-body select {
  color: #fff;
  border: none;
  background: none;
  text-align: center;
}

.app-body select {
  padding: 10px 20px;
  font-size: 36px;
  cursor: pointer;
}

.section-left,
.section-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-body input:focus,
.app-body select:focus {
  outline: none;
  color: #43abff;
}

.app-body option {
  color: #333d46;
}

.swap {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 5px;
  padding: 5px 50px;
  font-size: 30px;
  background-image: linear-gradient(45deg, #2b89e7, #11e763);
  border: none;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
}

.swap:focus {
  outline: none;
  background-image: linear-gradient(45deg, #317fcc, #1fc06a);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: texfield;
       appearance: texfield;
  -webkit-appearance: textfield;
}
/*# sourceMappingURL=style.css.map */