* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	background-color: #293038;
}

.wrapper {
	padding: 50px;
	width: 800px;
	background-image: linear-gradient(#3f4b59, #333d46);
	color: #fff;
	text-align: center;
	border: 1px solid #1c232d;
	border-radius: 5px;
	box-shadow: 0 0 15px #1c232d;

	h1 {
		font-size: 36px;
		margin-bottom: 10px;
	}

	p {
		font-size: 26px;
		margin-bottom: 50px;
		font-weight: 200;
	}
	.rate-info {
		margin-top: 30px;
		margin-bottom: 0;
	}
}

.app-body {
	display: flex;
	justify-content: center;
	align-items: center;

	input {
		margin-bottom: 10px;
		width: 100%;
		font-size: 60px;
	}
}
.app-body input,
.app-body select {
	color: #fff;
	border: none;
	background: none;
	text-align: center;
}

.app-body select {
	padding: 10px 20px;
	font-size: 36px;
	cursor: pointer;
}

.section-left,
.section-right {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.app-body input:focus,
.app-body select:focus {
	outline: none;
	color: rgb(67, 171, 255);
}

.app-body option {
	color: #333d46;
}

.swap {
	align-self: flex-end;
	margin: 5px;
	padding: 5px 50px;
	font-size: 30px;
	background-image: linear-gradient(45deg, #2b89e7, #11e763);
	border: none;
	border-radius: 25px;
	color: #fff;
	cursor: pointer;
}

.swap:focus {
	outline: none;
	background-image: linear-gradient(45deg, #317fcc, #1fc06a);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
    appearance: texfield;
	-webkit-appearance: textfield;
}
